// Menu Component
// ------------------------------

.menu{
    ul{
        margin:0;
        display: flex;
        justify-content:flex-start;
        align-items: center;

        li{
            list-style: none;
            font-size: 15px;
            padding:10px;
            margin-right:20px;

            a{
                color: #364d60;
                text-decoration: none;
                display: flex;
                align-items: center;
                justify-content:flex-start;

                span{
                    margin-right:10px;
                    display:block
                }
                
                &:hover{
                    color:#41b883
                }
            }
        }
    }
}